src/main/resources/validateSuperIdProduct/request/ValidateSuperIdProductRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified">
    <xs:element name="Request">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TestMode" type="xs:string"/>
                <xs:element name="OrgId" type="xs:string"/>
                <xs:element name="Channel" type="xs:string"/>
                <xs:element name="Role" type="xs:string"/>
                <xs:element name="UserId" type="xs:string"/>
                <xs:element name="Format" type="xs:string"/>
                <xs:element name="Products">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Product">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Id" type="xs:string"/>
                                        <xs:element name="EffDte" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>