src/main/resources/domainValues/response/DomainResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified">
    <xs:element name="Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StatusCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="StatusMessage" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>