src/main/resources/xsd/hc17/response/HC17Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="HC17Response">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StatusCode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="StatusMessage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>