src/main/resources/validateSuperIdProduct/response/ValidateSuperIdProductResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified">
    <xs:element name="Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StatusCode" type="xs:string"/>
                <xs:element name="StatusMessage" type="xs:string"/>
                <xs:element name="RequestCount" type="xs:string"/>
                <xs:element name="environment" type="xs:string"/>
                <xs:element name="Products">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Product">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Id" type="xs:string"/>
                                        <xs:element name="EffDate" type="xs:string"/>
                                        <xs:element name="ProductStatusCde" type="xs:string"/>
                                        <xs:element name="ProductStatusMsg" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>