src/main/resources/xsd/bws/MedD_Generic_9.6.23.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2021 rel. 3 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="AccountStructure" nillable="true">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PlanCode"/>
                <xs:element ref="EntityInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AccountStructures">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AccountStructure" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Accumulators">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ACM" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ACM">
        <xs:complexType>
            <xs:all>
                <xs:element ref="ACM_AccumType"/>
                <xs:element ref="ACM_NetworkInd"/>
                <xs:element ref="ACM_UseRollToTotalOption"/>
                <xs:element ref="ACM_LimitType"/>
                <xs:element ref="ACM_DomesticPartner"/>
                <xs:element ref="ACM_DrugCategory" minOccurs="0"/>
                <xs:element ref="ACM_EligCoverageType"/>
                <xs:element ref="ACM_IndividualAmt"/>
                <xs:element ref="ACM_IndividualEMBAmt"/>
                <xs:element ref="ACM_FamilyAmt"/>
                <xs:element ref="ACM_EmployeePlus1Amt" minOccurs="0"/>
                <xs:element ref="ACM_EmployeePlus2Amt" minOccurs="0"/>
                <xs:element ref="ACM_EmployeePlusSpouseAmt" minOccurs="0"/>
                <xs:element ref="ACM_NetworkStatus"/>
                <xs:element ref="ACM_PharmacyChannel"/>
                <xs:element ref="ACM_DrugTypeStatus"/>
                <xs:element ref="ACM_FormularyStatus"/>
                <xs:element ref="ACM_NTierExclusion"/>
                <xs:element ref="ACM_NTierPricePointException"/>
                <xs:element ref="ACM_IncludeDrugList"/>
                <xs:element ref="ACM_IncludeDrugListID"/>
                <xs:element ref="ACM_ExcludeDrugList"/>
                <xs:element ref="ACM_ExcludeDrugListID"/>
                <xs:element ref="ACM_CopayApplyTowardsDED"/>
                <xs:element ref="ACM_RXCCDHClassCodeYN" minOccurs="0"/>
                <xs:element ref="ACM_RXCCDHClassCode" minOccurs="0"/>
                <xs:element ref="ACM_UseRecommendedFinancialPenalties" minOccurs="0"/>
                <xs:element ref="ACM_BGDiffPenalty" minOccurs="0"/>
                <xs:element ref="ACM_BGDiffPenaltyPostMet" minOccurs="0"/>
                <xs:element ref="ACM_RRAPenalty" minOccurs="0"/>
                <xs:element ref="ACM_RRAPenaltyPostMet" minOccurs="0"/>
                <xs:element ref="ACM_EANPenaltyApply" minOccurs="0"/>
                <xs:element ref="ACM_TransferType"/>
                <xs:element ref="ACM_TransferKeyType"/>
                <xs:element ref="ACM_TransferKeyEligValue"/>
                <xs:element ref="ACM_TransferIntent"/>
                <xs:element ref="ACM_MedBTransferCde"/>
                <xs:element ref="ACM_UseDollarTransferNumber" minOccurs="0"/>
                <xs:element ref="ACM_BenefitPeriodStartDate"/>
                <xs:element ref="ACM_LengthOfBenefitPeriod"/>
                <xs:element ref="ACM_ApplyPreviousBenefitPeriod" minOccurs="0"/>
                <xs:element ref="ACM_CarryOverMonths" minOccurs="0"/>
                <xs:element ref="ACM_DEDApplyToOOP"/>
                <xs:element ref="ACM_OOPSupercedesDED"/>
                <xs:element ref="ACM_CAPSATProcess"/>
                <xs:element ref="ACM_CAPSATApplyToOOP"/>
                <xs:element ref="ACM_SharedBenefitType"/>
                <xs:element ref="ACM_SharedWithMedical"/>
                <xs:element ref="ACM_SharedBenefitVendorID"/>
                <xs:element ref="ACM_FrameMessaging"/>
                <xs:element ref="ACM_UseBenefitAccumID"/>
                <xs:element ref="ACM_BenefitAccumID"/>
                <xs:element ref="ACM_HRAType" minOccurs="0"/>
                <xs:element ref="ACM_HRAOffsetDED" minOccurs="0"/>
                <xs:element ref="ACM_HRAOffsetOOP" minOccurs="0"/>
                <xs:element ref="ACM_HRAOffsetCopay" minOccurs="0"/>
                <xs:element ref="ACM_HRAOffsetTAX" minOccurs="0"/>
                <xs:element ref="ACM_HRAOffsetEHD" minOccurs="0"/>
                <xs:element ref="ACM_HRAOffsetBGDiff" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="ACM_DrugCategory">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Med D Eligible"/>
                <xs:enumeration value="Combined D, Non D"/>
                <xs:enumeration value="Non D Eligible"/>
                <xs:enumeration value="Part B"/>
                <xs:enumeration value="Other"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_AccumType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="DED"/>
                <xs:enumeration value="CAP"/>
                <xs:enumeration value="OOP"/>
                <xs:enumeration value="TMOOP"/>
                <xs:enumeration value="RxCAP"/>
                <xs:enumeration value="LTC"/>
                <xs:enumeration value="HRA"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_ApplyPreviousBenefitPeriod">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. No (Recommended)"/>
                <xs:enumeration value="2. Yes, there is always carryover"/>
                <xs:enumeration value="3. Yes, carryover only if the previous benefit period was not satisfied"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_BenefitAccumID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_BenefitPeriodStartDate">
        <xs:simpleType>
            <xs:restriction base="xs:date">
                <xs:minInclusive value="1900-01-01"/>
                <xs:maxInclusive value="2999-12-31"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_BGDiffPenalty">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No/NA (Recommended)"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_BGDiffPenaltyPostMet">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No/NA (Recommended)"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_CAPSATApplyToOOP">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_CAPSATProcess">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="100% Copay (Recommended)"/>
                <xs:enumeration value="100% Copay (recommended)"/>
                <xs:enumeration value="Reject"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_CarryOverMonths">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1"/>
                <xs:enumeration value="2"/>
                <xs:enumeration value="3"/>
                <xs:enumeration value="4"/>
                <xs:enumeration value="5"/>
                <xs:enumeration value="6"/>
                <xs:enumeration value="7"/>
                <xs:enumeration value="8"/>
                <xs:enumeration value="9"/>
                <xs:enumeration value="10"/>
                <xs:enumeration value="11"/>
                <xs:enumeration value="12"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_CopayApplyTowardsDED">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No/NA (Recommended)"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_DEDApplyToOOP">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes (Recommended)"/>
                <xs:enumeration value="No"/>
                <xs:enumeration value="No or No out-of-pocket"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_DomesticPartner">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. Yes (Recommended)"/>
                <xs:enumeration value="2. No"/>
                <xs:enumeration value="3. No family accumulator"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_DrugTypeStatus">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. All Drugs (Recommeded)"/>
                <xs:enumeration value="1. All Drugs (Recommended)"/>
                <xs:enumeration value="2. Brand Only"/>
                <xs:enumeration value="3. Generic Only"/>
                <xs:enumeration value="4. Multi-Source Brands"/>
                <xs:enumeration value="5. Single-Source Brands"/>
                <xs:enumeration value="6. Generics and Multi-Source Brands"/>
                <xs:enumeration value="7. Generics and Single-Source Brands"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_EANPenaltyApply">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No"/>
                <xs:enumeration value="No/NA (Recommended)"/>
                <xs:enumeration value="Yes or EAN Penalties do not exist (Recommended)"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_EligCoverageType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. Individual Only"/>
                <xs:enumeration value="2. Family Only With Rel8"/>
                <xs:enumeration value="3. Embedded w/ Rel8"/>
                <xs:enumeration value="5. Non-Embedded w/ Rel8"/>
                <xs:enumeration value="6. 3-Tier Non-Embedded w/ Rel8"/>
                <xs:enumeration value="7. 4-Tier Non-Embedded w/ Rel8"/>
                <xs:enumeration value="8. Family Only Without Rel8"/>
                <xs:enumeration value="9. Embedded w/o Rel8"/>
                <xs:enumeration value="A. Non-Embedded w/o Rel8"/>
                <xs:enumeration value="B. 3-Tier Non-Embedded w/o Rel8"/>
                <xs:enumeration value="C. 4-Tier Non-Embedded w/o Rel8"/>
                <xs:enumeration value="D. Embedded 3-Tier - IND SINGLE, IND EMB, FAM (With Rel 8)"/>
                <xs:enumeration value="F. Embedded 3-Tier - IND, E+1, FAM (With Rel 8)"/>
                <xs:enumeration value="H. Embedded 4-Tier - IND SINGLE, IND EMB, E+1, FAM (With Rel 8)"/>
                <xs:enumeration value="P. Embedded-Tiered Family Setup With rel 8"/>
                <xs:enumeration value="E. Embedded 3-Tier - IND SINGLE, IND EMB, FAM (Without Rel 8)"/>
                <xs:enumeration value="G. Embedded 3-Tier -IND, E+1, FAM (Without Rel 8)"/>
                <xs:enumeration value="I. Embedded 4-Tier - IND SINGLE, IND EMB,E+1,  FAM (Without Rel 8)"/>
                <xs:enumeration value="Q. Embedded-Tiered Family Setup Without rel 8"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_EmployeePlus1Amt">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:fractionDigits value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_EmployeePlus2Amt">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:fractionDigits value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_EmployeePlusSpouseAmt">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:fractionDigits value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_ExcludeDrugList"/>
    <xs:element name="ACM_ExcludeDrugListID"/>
    <xs:element name="ACM_FamilyAmt">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:fractionDigits value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_FormularyStatus">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. All Drugs (Recommeded)"/>
                <xs:enumeration value="1. All Drugs (Recommended)"/>
                <xs:enumeration value="2. Formulary Only"/>
                <xs:enumeration value="3. Non-Formulary Only"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_FrameMessaging">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="40"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_HRAOffsetBGDiff">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_HRAOffsetCopay">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_HRAOffsetDED">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_HRAOffsetEHD">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_HRAOffsetOOP">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_HRAOffsetTAX">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_HRAType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Real Time/POS (No Debit Card)"/>
                <xs:enumeration value="Direct/Manual Claims"/>
                <xs:enumeration value="Debit Card"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_IncludeDrugList" type="xs:string"/>
    <xs:element name="ACM_IncludeDrugListID">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="6"/>
                <xs:maxLength value="6"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_IndividualAmt">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:fractionDigits value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_IndividualEMBAmt">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:fractionDigits value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_LengthOfBenefitPeriod">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="9999"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_LimitType">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_MedBTransferCde">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_NetworkInd">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="I"/>
                <xs:enumeration value="O"/>
                <xs:enumeration value="B"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_NetworkStatus">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. All (Recommended)"/>
                <xs:enumeration value="2. INN Only"/>
                <xs:enumeration value="3. OON Only"/>
                <xs:enumeration value="4. Custom Pharmacy/Network Exclusion (Requires custom setup with networks)"/>
                <xs:enumeration value="5. Specific Pharmacy Only (requires custom setup with networks)"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_NTierExclusion">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. No/NA (Recommeded)"/>
                <xs:enumeration value="1. No/NA (Recommended)"/>
                <xs:enumeration value="2. Yes, exclude single price point"/>
                <xs:enumeration value="3. Yes, exclude multiple price points"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_NTierPricePointException">
        <xs:complexType>
            <xs:all>
                <xs:element ref="ACM_PricePoint" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="ACM_PricePoint" type="xs:int"/>
    <xs:element name="ACM_OOPSupercedesDED">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes (Recommended)"/>
                <xs:enumeration value="No"/>
                <xs:enumeration value="No or No deductible"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_PharmacyChannel">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. All (Recommended)"/>
                <xs:enumeration value="2. Retail Only"/>
                <xs:enumeration value="3. Mail Only"/>
                <xs:enumeration value="4. Directs Only"/>
                <xs:enumeration value="5. Medical Dollars Only"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_RRAPenalty">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No/NA (Recommended)"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_RRAPenaltyPostMet">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No/NA (Recommended)"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_RXCCDHClassCode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="AUTISMDRUG"/>
                <xs:enumeration value="CHEMOSPLTY"/>
                <xs:enumeration value="CHEMOTHERA"/>
                <xs:enumeration value="DIABETES"/>
                <xs:enumeration value="GLUCOMETER"/>
                <xs:enumeration value="INFERTILIT"/>
                <xs:enumeration value="MENTALHLTH"/>
                <xs:enumeration value="PLANB"/>
                <xs:enumeration value="SMOKINGCES"/>
                <xs:enumeration value="SPECIALTY"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_RXCCDHClassCodeYN">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No"/>
                <xs:enumeration value="No/NA (Recommended)"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_SharedBenefitType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. Bi-Directional (Recommended)"/>
                <xs:enumeration value="2. Nextgen"/>
                <xs:enumeration value="3. Nextgen 2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_SharedBenefitVendorID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_SharedWithMedical">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. Rx Only"/>
                <xs:enumeration value="2. Shared"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_TransferIntent">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_TransferKeyEligValue">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_TransferKeyType">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_TransferType">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_UseBenefitAccumID">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_UseDollarTransferNumber">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No"/>
                <xs:enumeration value="Custom"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_UseRecommendedFinancialPenalties">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes (Recommended)"/>
                <xs:enumeration value="No"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ACM_UseRollToTotalOption">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. No cross apply between networks (Recommended)"/>
                <xs:enumeration value="2. Yes, INN rolling to OON"/>
                <xs:enumeration value="3. Yes, OON rolling to INN"/>
                <xs:enumeration value="4. Yes, INN rolling to OON and OON rolling to INN/Full Cross Apply"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="BenefitDesignName">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="BenefitEffDate" type="xs:date"/>
    <xs:element name="BenefitEndDate" type="xs:date"/>
    <xs:element name="BenefitIntent">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PlanCode"/>
                <xs:element ref="TargetEntity" maxOccurs="unbounded"/>
                <xs:element ref="Accumulators" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BenefitIntents">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BenefitIntent" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BenefitOEEffDate"/>
    <xs:element name="BenefitType">
        <!--need enums-->
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Med-D"/>
                <xs:enumeration value="Medicaid"/>
                <xs:enumeration value="Commercial"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="BGDiffAppliesTo">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="N/A"/>
                <xs:enumeration value="Brand"/>
                <xs:enumeration value="Generic"/>
                <xs:enumeration value="Custom"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="BGDiffExceedMax"/>
    <!--enums-->
    <xs:element name="CarrierID">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="3"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="CBM">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CBMData" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CBMData">
        <xs:complexType>
            <xs:all>
                <xs:element ref="Screen_No" minOccurs="0"/>
                <xs:element ref="Field_Name" minOccurs="0"/>
                <xs:element ref="Field_ID" minOccurs="0"/>
                <xs:element ref="Field_Description" minOccurs="0"/>
                <xs:element ref="Field_Value" minOccurs="0"/>
                <xs:element ref="Field_Change_Type" minOccurs="0"/>
                <xs:element ref="Lower_Level_Override" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="ClientIntent">
        <xs:complexType>
            <xs:all>
                <xs:element ref="GeneralInfo"/>
                <xs:element ref="AccountStructures"/>
                <xs:element ref="BenefitIntents"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="ClientOrgId">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="5"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Copay">
        <xs:complexType>
            <xs:all>
                <xs:element ref="CopayDescription"/>
                <xs:element ref="CopayChannel"/>
                <xs:element ref="CopayCDSame"/>
                <xs:element ref="Network" minOccurs="0"/>
                <xs:element ref="NTierID" minOccurs="0"/>
                <xs:element ref="PricePoint"/>
                <xs:element ref="PricePointMirrorInd" minOccurs="0"/> <!--not used for Med D-->
                <xs:element ref="MirrorPricePoint" minOccurs="0"/> <!--not used for Med D-->
                <xs:element ref="DAWPenalty" minOccurs="0"/> <!--not used for Med D-->
                <xs:element ref="BGDiffAppliesTo" minOccurs="0"/> <!--not used for Med D-->
                <xs:element ref="BGDiffExceedMax" minOccurs="0"/> <!--not used for Med D-->
                <xs:element ref="DaysSupply" minOccurs="0"/>
                <xs:element ref="DaySupplyRange"/>
                <xs:element ref="CopayCalcMethod" minOccurs="0"/> <!--not used for Med D-->
                <xs:element ref="CopayStructure"/>
                <xs:element ref="InputOption" minOccurs="0"/>
                <xs:element ref="DrugListID" minOccurs="0"/>
                <xs:element ref="DrugList_CopayPosition" minOccurs="0"/>
                <xs:element ref="DrugListID_CopayPosition" minOccurs="0"/>
                <xs:element ref="CopayTier"/>
                <xs:element ref="CopayValues" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="Attr" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="InputOption" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. Flat"/>
                <xs:enumeration value="2. Percent"/>
                <xs:enumeration value="2. Percent (with or without MIN and/or MAX)"/>
                <xs:enumeration value="3. Percent + Flat"/>
                <xs:enumeration value="3. Percent plus Flat"/>
                <xs:enumeration value="4. Flat + Percent Remaining/Combination Flat or Percent"/>
                <xs:enumeration value="4. Flat plus Percent Remaining/Combination Flat or Percent"/>
                <xs:enumeration value="5. Flat (BG Diff cannot exceed MAX)"/>
                <xs:enumeration value="6. Percent (with or without MIN and/or MAX) (BG Diff cannot exceed MAX)"/>
                <xs:enumeration value="7. Percent plus Flat (BG Diff cannot exceed MAX)"/>
                <xs:enumeration
                        value="8. Flat plus Percent Remaining/Combination Flat or Percent (BG Diff cannot exceed MAX)"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="CopayCalcMethod">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="N/A"/>
                <xs:enumeration value="1. Copay multiplier"/>
                <xs:enumeration value="2. Copay multiplier per days ranges"/>
                <xs:enumeration value="3. Copay per days ranges"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="CopayCDSame">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="CopayChannel">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Card"/>
                <xs:enumeration value="Direct"/>
                <xs:enumeration value="Mail"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="CopayOption">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="MedDBaseCopay"/>
                <xs:enumeration value="MedDWrapBaseCopay"/>
                <xs:enumeration value="BaseCopay"/>
                <xs:enumeration value="ExceptionCopay"/>
                <xs:enumeration value="RRACopay"/>
                <xs:enumeration value="CompoundCopay"/>
                <xs:enumeration value="CompoundExceptionCopay"/>
                <xs:enumeration value="RRAExclusions"/>
                <xs:enumeration value="DEDBaseCopay"/>
                <xs:enumeration value="OOPSATBaseCopay"/>
                <xs:enumeration value="TMOOPSATBaseCopay"/>
                <xs:enumeration value="CAPSATBaseCopay"/>
                <xs:enumeration value="RxCAPSATBaseCopay"/>
                <xs:enumeration value="LTCSATBaseCopay"/>
                <xs:enumeration value="DEDExceptionCopay"/>
                <xs:enumeration value="OOPSATExceptionCopay"/>
                <xs:enumeration value="TMOOPSATExceptionCopay"/>
                <xs:enumeration value="CAPSATExceptionCopay"/>
                <xs:enumeration value="RxCAPSATExceptionCopay"/>
                <xs:enumeration value="LTCSATExceptionCopay"/>
                <xs:enumeration value="CopayDLReplacement"/>
                <xs:enumeration value="BGDiffChange"/>
                <xs:enumeration value="AncillaryExceptions"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="CopayDescription">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <!-- Staged Copays -->
                <xs:enumeration value="MedDBaseCopay"/>
                <xs:enumeration value="MedDWrapBaseCopay"/>
                <xs:enumeration value="MedDExcpCopay"/>               <!-- MEDEXCP  [ 52] -->
                <xs:enumeration value="MedDLTCBaseCopay"/>            <!-- MEDLTCPY [ 56] -->
                <xs:enumeration value="MedDLTCExcpCopay"/>            <!-- MEDLTEXC [ 58] -->
                <xs:enumeration value="MedDCompoundCopay"/>           <!-- MEDCPDCP [112] -->
                <xs:enumeration value="MedDWrapExcpCopay"/>           <!-- MEDWRPEX [177] -->
                <xs:enumeration value="MedDWrapLTCBaseCopay"/>        <!-- LTCWRPBA [182] -->
                <xs:enumeration value="MedDWrapLTCExcpCopay"/>        <!-- LTCWRPEX [183] -->
                <xs:enumeration value="MedDPMOOPSATCopay"/>           <!-- MEDPMOOP [203] -->
                <xs:enumeration value="MedDCICBaseCopay"/>            <!-- CICBASE  [410] -->
                <xs:enumeration value="MedDCICExcpCopay"/>            <!-- CICEXCP  [411] -->
                <xs:enumeration value="MedDCICLTCBaseCopay"/>         <!-- CICLTCBA [412] -->
                <xs:enumeration value="MedDCICLTCExcpCopay"/>         <!-- CICLTCEX [413] -->
                <xs:enumeration value="MedDSSMExcpCopay"/>            <!-- COMSSPEX [440] -->
                <xs:enumeration value="MedDSSMLTCExcpCopay"/>         <!-- COMSSPLE [441] -->
                <xs:enumeration value="MedDExcpOVRDCopay"/>           <!-- MEDEXOV  [443] -->
                <xs:enumeration value="MedDLTCExcpOVRDCopay"/>        <!-- MEDLTEXO [444] -->
                <xs:enumeration value="MedDWrapExcpOVRDCopay"/>         <!-- MEDWRPEO [445] -->
                <xs:enumeration value="MedDWrapLTCExcpOVRDCopay"/>      <!-- LTCWRPEO [446] -->
                <xs:enumeration value="MedDSecOOPBaseCopay"/>          <!-- SUBMEDBA [452] -->
                <xs:enumeration value="MedDSecOOPExcpCopay"/>          <!-- SUBMEDEX [453] -->
                <xs:enumeration value="MedDSecOOPWrapBaseCopay"/>      <!-- SBMDWRBA [454] -->
                <xs:enumeration value="MedDSecOOPWrapExcpCopay"/>      <!-- SBMDWREX [455] -->
                <!-- Non-Staged Copays -->
                <xs:enumeration value="BaseCopay"/>
                <xs:enumeration value="ExceptionCopay"/>
                <xs:enumeration value="RRACopay"/>
                <xs:enumeration value="CompoundCopay"/>
                <xs:enumeration value="CompoundExceptionCopay"/>
                <xs:enumeration value="SecOOPBaseCopay"/>             <!-- SUBCOPAY [449] -->
                <xs:enumeration value="SecOOPExceptionCopay"/>        <!-- SUBEXCP  [450] -->
                <xs:enumeration value="WrapBaseCopay"/>               <!-- WRAPBASE [170] -->
                <xs:enumeration value="WrapExceptionCopay"/>          <!-- WRAPEXCP [171] -->
                <xs:enumeration value="CATExceptionCopay"/>           <!-- NOMEDCAT [434] -->
                <xs:enumeration value="RRAExclusions"/>
                <xs:enumeration value="DEDBaseCopay"/>
                <xs:enumeration value="OOPSATBaseCopay"/>
                <xs:enumeration value="TMOOPSATBaseCopay"/>
                <xs:enumeration value="CAPSATBaseCopay"/>
                <xs:enumeration value="RxCAPSATBaseCopay"/>
                <xs:enumeration value="LTCSATBaseCopay"/>
                <xs:enumeration value="DEDExceptionCopay"/>
                <xs:enumeration value="OOPSATExceptionCopay"/>
                <xs:enumeration value="TMOOPSATExceptionCopay"/>
                <xs:enumeration value="CAPSATExceptionCopay"/>
                <xs:enumeration value="RxCAPSATExceptionCopay"/>
                <xs:enumeration value="LTCSATExceptionCopay"/>
                <xs:enumeration value="CopayDLReplacement"/>
                <xs:enumeration value="BGDiffChange"/>
                <xs:enumeration value="AncillaryExceptions"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Copays">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Copay" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CopayStructure">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. Single Tier"/>
                <xs:enumeration value="2. Two Tier (G/B)"/>
                <xs:enumeration value="3. Three Tier (G/F/NF)"/>
                <xs:enumeration value="4. Three Tier (G/MS/SS)"/>
                <xs:enumeration value="5. Four Tier (FG/FB/NFG/NFB)"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="CopayTier">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="NA"/>
                <xs:enumeration value="ALL"/>
                <xs:enumeration value="ALW"/>
                <xs:enumeration value="GEN"/>
                <xs:enumeration value="BRD"/>
                <xs:enumeration value="BRW"/>
                <xs:enumeration value="FMB"/>
                <xs:enumeration value="FMW"/>
                <xs:enumeration value="NFB"/>
                <xs:enumeration value="NFW"/>
                <xs:enumeration value="MSB"/>
                <xs:enumeration value="MSW"/>
                <xs:enumeration value="SSB"/>
                <xs:enumeration value="FMG"/>
                <xs:enumeration value="NFG"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="CopayValues">
        <xs:complexType>
            <xs:all>
                <xs:element ref="R1Mutiplier" minOccurs="0"/>
                <xs:element ref="R1Units" minOccurs="0"/>
                <xs:element ref="R1Unit_Of_Measure" minOccurs="0"/>
                <xs:element ref="R1DSFM" minOccurs="0"/>
                <xs:element ref="R1DSTO" minOccurs="0"/>
                <xs:element ref="R1FLAT" minOccurs="0"/>
                <xs:element ref="R1PCT" minOccurs="0"/>
                <xs:element ref="R1MIN" minOccurs="0"/>
                <xs:element ref="R1MAX" minOccurs="0"/>
                <xs:element ref="R1BGDIFFMAX" minOccurs="0"/> <!--not used for Med D-->
                <xs:element ref="R2DSFM" minOccurs="0"/>
                <xs:element ref="R2DSTO" minOccurs="0"/>
                <xs:element ref="R2FLAT" minOccurs="0"/>
                <xs:element ref="R2MAX" minOccurs="0"/>
                <xs:element ref="R2BGDIFFMAX" minOccurs="0"/>
                <xs:element ref="R2MIN" minOccurs="0"/>
                <xs:element ref="R2Mutiplier" minOccurs="0"/>
                <xs:element ref="R2PCT" minOccurs="0"/>
                <xs:element ref="R2Unit_Of_Measure" minOccurs="0"/>
                <xs:element ref="R2Units" minOccurs="0"/>
                <xs:element ref="R3DSFM" minOccurs="0"/>
                <xs:element ref="R3DSTO" minOccurs="0"/>
                <xs:element ref="R3FLAT" minOccurs="0"/>
                <xs:element ref="R3MAX" minOccurs="0"/>
                <xs:element ref="R3BGDIFFMAX" minOccurs="0"/>
                <xs:element ref="R3MIN" minOccurs="0"/>
                <xs:element ref="R3Mutiplier" minOccurs="0"/>
                <xs:element ref="R3PCT" minOccurs="0"/>
                <xs:element ref="R3Unit_Of_Measure" minOccurs="0"/>
                <xs:element ref="R3Units" minOccurs="0"/>
                <xs:element ref="R4DSFM" minOccurs="0"/>
                <xs:element ref="R4DSTO" minOccurs="0"/>
                <xs:element ref="R4FLAT" minOccurs="0"/>
                <xs:element ref="R4MAX" minOccurs="0"/>
                <xs:element ref="R4BGDIFFMAX" minOccurs="0"/>
                <xs:element ref="R4MIN" minOccurs="0"/>
                <xs:element ref="R4Mutiplier" minOccurs="0"/>
                <xs:element ref="R4PCT" minOccurs="0"/>
                <xs:element ref="R4Unit_Of_Measure" minOccurs="0"/>
                <xs:element ref="R4Units" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="Attr"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DAWPenalty">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. No Brand/Generic penalty applies"/>
                <xs:enumeration value="2. Apply penalty to DAW1"/>
                <xs:enumeration value="3. Apply penalty to DAW2"/>
                <xs:enumeration value="4. Apply penalty to DAW1 and 2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="DaysSupply">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="No"/>
                <xs:enumeration value="Yes"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="DaySupplyRange" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1"/>
                <xs:enumeration value="2"/>
                <xs:enumeration value="3"/>
                <xs:enumeration value="4"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="DrugList_CopayPosition">
        <!--enums-->
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. S-Use the sequence from the Intent"/>
                <xs:enumeration value="2. P-Follow Priority order using a Crosswalk"/>
                <xs:enumeration value="3. C-Follow the DL cost share"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="DrugListID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="DrugListID_CopayPosition">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Entity">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <!--Updates 1/6/23 Start-->
    <xs:element name="EntityInfo">
        <xs:complexType>
            <xs:all>
                <xs:element ref="Entity"/>
                <xs:element ref="EntityName" minOccurs="0"/>
                <xs:element ref="EntityEffDate"/>
                <xs:element ref="EntityType"/>
                <xs:element ref="EntityLevel"/>
                <xs:element ref="EntityLevelDesc"/>
                <xs:element ref="OEEntity"/>
                <xs:element ref="Action"/>
                <xs:element ref="SourceEntity" minOccurs="0"/>
                <xs:element ref="SourceEntityLevel" minOccurs="0"/>
                <xs:element ref="ParentEntity" minOccurs="0"/>
                <xs:element ref="ParentEntityLevel" minOccurs="0"/>
                <xs:element ref="PlanTypeEntity" minOccurs="0"/>
                <xs:element ref="PlanTypeEntityLevel" minOccurs="0"/>
                <xs:element ref="CHSLevels" minOccurs="0"/>
                <xs:element ref="PharmacyNetworkAction" minOccurs="0"/>
                <xs:element ref="PHTableAction" minOccurs="0"/>
                <xs:element ref="PHTableName" minOccurs="0"/>
                <xs:element ref="Address" minOccurs="0"/>
                <xs:element ref="TGroups" minOccurs="0"/>
                <xs:element ref="CBM" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="Attr" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="EntityName">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Action">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. N/A"/>
                <xs:enumeration value="2. CreateWithCopyAndUpdates"/>
                <xs:enumeration value="3. CreateWithCopy"/>
                <xs:enumeration value="4. CreateWithoutCopy"/>
                <xs:enumeration value="6. Update"/>
                <xs:enumeration value="7. Move"/>
                <xs:enumeration value="8. Term"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ActionDesc">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="No Change"/>
                <xs:enumeration value="Create New with Copy Source"/>
                <xs:enumeration value="Create New without Copy Source"/>
                <xs:enumeration value="Update"/>
                <xs:enumeration value="Entity Term"/>
                <xs:enumeration value="Entity Move"/>
                <xs:enumeration value="Clinical Only"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="SourceEntity">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ParentEntity">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="PlanTypeEntity">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="PharmacyNetworkAction">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. No Change"/>
                <xs:enumeration value="2. New"/>
                <xs:enumeration value="3. Exact Copy w/ New Tgroups"/>
                <xs:enumeration value="4. Mail Only Exact Copy w/ New Tgroups"/>
                <xs:enumeration value="5. Retail Only Exact Copy w/ New Tgroups"/>
                <xs:enumeration value="6. Exact Copy and Share Existing Tgroups"/>
                <xs:enumeration value="7. Exact Move"/>
                <xs:enumeration value="8. Exact Move w/ New Tgroups"/>
                <xs:enumeration value="9. Exact Move and Share Existing Tgroups"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="CHSLevels">
        <xs:complexType>
            <xs:all>
                <xs:element ref="CHSL1Entity"/>
                <xs:element ref="CHSL1EntityName"/>
                <xs:element ref="CHSL2Entity" minOccurs="0"/>
                <xs:element ref="CHSL2EntityName" minOccurs="0"/>
                <xs:element ref="CHSL3Entity" minOccurs="0"/>
                <xs:element ref="CHSL3EntityName" minOccurs="0"/>
                <xs:element ref="CHSL4Entity" minOccurs="0"/>
                <xs:element ref="CHSL4EntityName" minOccurs="0"/>
                <xs:element ref="CHSL5Entity" minOccurs="0"/>
                <xs:element ref="CHSL5EntityName" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="PHTableAction">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="New"/>
                <xs:enumeration value="No Change"/>
                <xs:enumeration value="Change"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="PHTableName">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Address">
        <xs:complexType>
            <xs:all>
                <xs:element ref="AddressName" minOccurs="0"/>
                <xs:element ref="Attention" minOccurs="0"/>
                <xs:element ref="Street" minOccurs="0"/>
                <xs:element ref="City" minOccurs="0"/>
                <xs:element ref="State" minOccurs="0"/>
                <xs:element ref="Zipcode" minOccurs="0"/>
                <xs:element ref="Telephone" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="CHSL1Entity"/>
    <xs:element name="CHSL1EntityName"/>
    <xs:element name="CHSL2Entity"/>
    <xs:element name="CHSL2EntityName"/>
    <xs:element name="CHSL3Entity"/>
    <xs:element name="CHSL3EntityName"/>
    <xs:element name="CHSL4Entity"/>
    <xs:element name="CHSL4EntityName"/>
    <xs:element name="CHSL5Entity"/>
    <xs:element name="CHSL5EntityName"/>
    <xs:element name="AddressName" nillable="true"/>
    <xs:element name="Attention" nillable="true"/>
    <xs:element name="Street" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="0"/>
                <xs:maxLength value="60"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="City" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="0"/>
                <xs:maxLength value="30"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="State" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Zipcode" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="0"/>
                <xs:maxLength value="10"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Telephone" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="EntityLevel">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="CA"/>
                <xs:enumeration value="WC"/>
                <xs:enumeration value="CO"/>
                <xs:enumeration value="BL"/>
                <xs:enumeration value="BB"/>
                <xs:enumeration value="HC"/>
                <xs:enumeration value="AC"/>
                <xs:enumeration value="BT"/>
                <xs:enumeration value="BB"/>
                <xs:enumeration value="DI"/>
                <xs:enumeration value="L1"/>
                <xs:enumeration value="L2"/>
                <xs:enumeration value="L3"/>
                <xs:enumeration value="L4"/>
                <xs:enumeration value="L5"/>
                <xs:enumeration value="GR"/>
                <xs:enumeration value="WD"/>
                <xs:enumeration value="WB"/>
                <xs:enumeration value="WG"/>
                <xs:enumeration value="EN"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ParentEntityLevel">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="CA"/>
                <xs:enumeration value="WC"/>
                <xs:enumeration value="CO"/>
                <xs:enumeration value="BL"/>
                <xs:enumeration value="BB"/>
                <xs:enumeration value="HC"/>
                <xs:enumeration value="AC"/>
                <xs:enumeration value="BT"/>
                <xs:enumeration value="BB"/>
                <xs:enumeration value="DI"/>
                <xs:enumeration value="L1"/>
                <xs:enumeration value="L2"/>
                <xs:enumeration value="L3"/>
                <xs:enumeration value="L4"/>
                <xs:enumeration value="L5"/>
                <xs:enumeration value="GR"/>
                <xs:enumeration value="WD"/>
                <xs:enumeration value="WB"/>
                <xs:enumeration value="WG"/>
                <xs:enumeration value="EN"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="PlanTypeEntityLevel">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value=""/>
                <xs:enumeration value="CA"/>
                <xs:enumeration value="WC"/>
                <xs:enumeration value="CO"/>
                <xs:enumeration value="BL"/>
                <xs:enumeration value="BB"/>
                <xs:enumeration value="HC"/>
                <xs:enumeration value="AC"/>
                <xs:enumeration value="BT"/>
                <xs:enumeration value="BB"/>
                <xs:enumeration value="DI"/>
                <xs:enumeration value="L1"/>
                <xs:enumeration value="L2"/>
                <xs:enumeration value="L3"/>
                <xs:enumeration value="L4"/>
                <xs:enumeration value="L5"/>
                <xs:enumeration value="GR"/>
                <xs:enumeration value="WD"/>
                <xs:enumeration value="WB"/>
                <xs:enumeration value="WG"/>
                <xs:enumeration value="EN"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="SourceEntityLevel">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value=""/>
                <xs:enumeration value="CA"/>
                <xs:enumeration value="WC"/>
                <xs:enumeration value="CO"/>
                <xs:enumeration value="BL"/>
                <xs:enumeration value="BB"/>
                <xs:enumeration value="HC"/>
                <xs:enumeration value="AC"/>
                <xs:enumeration value="BT"/>
                <xs:enumeration value="BB"/>
                <xs:enumeration value="DI"/>
                <xs:enumeration value="L1"/>
                <xs:enumeration value="L2"/>
                <xs:enumeration value="L3"/>
                <xs:enumeration value="L4"/>
                <xs:enumeration value="L5"/>
                <xs:enumeration value="GR"/>
                <xs:enumeration value="WD"/>
                <xs:enumeration value="WB"/>
                <xs:enumeration value="WG"/>
                <xs:enumeration value="EN"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="EntityLevelDesc">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="CARRIER"/>
                <xs:enumeration value="PLAN TYPE"/>
                <xs:enumeration value="CONTRACT"/>
                <xs:enumeration value="OE CONTRACT"/>
                <xs:enumeration value="BPL"/>
                <xs:enumeration value="OE EVEN BPL"/>
                <xs:enumeration value="OE ODD BPL"/>
                <xs:enumeration value="GBPL"/>
                <xs:enumeration value="OE EVEN GBPL"/>
                <xs:enumeration value="OE ODD GBPL"/>
                <xs:enumeration value="HCR"/>
                <xs:enumeration value="OE EVEN HCR"/>
                <xs:enumeration value="OE ODD HCR"/>
                <xs:enumeration value="ACCT CODE"/>
                <xs:enumeration value="OE EVEN ACCT CODE"/>
                <xs:enumeration value="OE ODD ACCT CODE"/>
                <xs:enumeration value="BENEFIT TEMPLATE"/>
                <xs:enumeration value="OE EVEN BENEFIT TEMPLATE"/>
                <xs:enumeration value="OE ODD BENEFIT TEMPLATE"/>
                <xs:enumeration value="BASE BENEFIT"/>
                <xs:enumeration value="OE EVEN BASE BENEFIT"/>
                <xs:enumeration value="OE ODD BASE BENEFIT"/>
                <xs:enumeration value="DIVISION"/>
                <xs:enumeration value="OE EVEN DIVISION"/>
                <xs:enumeration value="OE ODD DIVISION"/>
                <xs:enumeration value="CHS 1"/>
                <xs:enumeration value="CHS 2"/>
                <xs:enumeration value="CHS 3"/>
                <xs:enumeration value="CHS 4"/>
                <xs:enumeration value="CHS 5"/>
                <xs:enumeration value="GROUP"/>
                <xs:enumeration value="OE EVEN GROUP"/>
                <xs:enumeration value="OE ODD GROUP"/>
                <xs:enumeration value="WEST DIVISION"/>
                <xs:enumeration value="8-BYTE BPL"/>
                <xs:enumeration value="OE EVEN 8-BYTE BPL"/>
                <xs:enumeration value="OE ODD 8-BYTE BPL"/>
                <xs:enumeration value="GROUP"/>
                <xs:enumeration value="OE EVEN GROUP"/>
                <xs:enumeration value="OE ODD GROUP"/>
                <xs:enumeration value="MNM TGROUP"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!--Updates 1/6/23 End-->
    <xs:element name="EntityEffDate" type="xs:date"/>
    <xs:element name="EntityType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="LICS1"/>
                <xs:enumeration value="LICS2"/>
                <xs:enumeration value="LICS3"/>
                <xs:enumeration value="LICS4"/>
                <xs:enumeration value="Standard"/>
                <xs:enumeration value="Other"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Field_Change_Type">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Field_Description">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Field_ID">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Field_Name">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Field_Value">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="GeneralInfo">
        <xs:complexType>
            <xs:all>
                <xs:element ref="ClientOrgId"/>
                <xs:element ref="CarrierID"/>
                <xs:element ref="BenefitType" minOccurs="0"/>
                <xs:element ref="BenefitDesignName" minOccurs="0"/>
                <xs:element ref="PlanYear"/>
                <xs:element ref="PlanType"/>
                <xs:element ref="BenefitEffDate" minOccurs="0"/>
                <xs:element ref="BenefitOEEffDate" minOccurs="0"/>
                <xs:element ref="BenefitEndDate" minOccurs="0"/>
                <xs:element ref="FormularyType" minOccurs="0"/>
                <xs:element ref="FormularyName" minOccurs="0"/>
                <xs:element ref="EGWPPlanDesign" minOccurs="0"/>
                <xs:element ref="CMSBenefitType" minOccurs="0"/>
                <xs:element ref="Products" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="Lower_Level_Override">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="MirrorPricePoint">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ProductName">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Network">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="I"/>
                <xs:enumeration value="O"/>
                <xs:enumeration value="B"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="NTierID" type="xs:int"/>
    <xs:element name="OEEntity" type="xs:boolean"/>
    <xs:element name="PlanCode">
        <!--req validation?-->
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="PlanType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="New Implementation"/>
                <xs:enumeration value="New Implementation - Non Calendar"/>
                <xs:enumeration value="Renewal"/>
                <xs:enumeration value="Renewal - Non Calendar"/>
                <xs:enumeration value="Change - Accumulator"/>
                <xs:enumeration value="Change - Copay, CBM"/>
                <xs:enumeration value="New Plan Design - Non Calendar"/>
                <xs:enumeration value="New Plan Design"/>
                <xs:enumeration value="Account Structure"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="PlanYear"/>
    <xs:element name="PricePoint" type="xs:string"/>
    <xs:element name="PricePointMirrorInd">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Product">
        <xs:complexType>
            <xs:all>
                <xs:element ref="ProductName"/>
                <xs:element ref="ProductValue"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="Products">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Product" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="FormularyType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Open Formulary"/>
                <xs:enumeration value="Incentive Formulary"/>
                <xs:enumeration value="Closed Formulary"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="FormularyName">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Medicare High Performance"/>
                <xs:enumeration value="Premier Performance"/>
                <xs:enumeration value="Premier Access"/>
                <xs:enumeration value="Value Performance"/>
                <xs:enumeration value="Client Custom Formulary"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="EGWPPlanDesign">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Yes, ESI EGWP.  OHI Wrap copays will be configured"/>
                <xs:enumeration value="Yes, HP EGWP.  OHI Wrap copays will be configured"/>
                <xs:enumeration value="Yes, ESI EGWP -  No Enhanced Coverage in Gap"/>
                <xs:enumeration value="Yes, HP EGWP -  No Enhanced Coverage in Gap"/>
                <xs:enumeration value="No"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="CMSBenefitType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="CMS Defined Plan Design"/>
                <xs:enumeration value="Basic (aka Standard) Alternative Plan Design"/>
                <xs:enumeration value="Enhanced Plan Design (Individual or EGWP Wrap)"/>
                <xs:enumeration value="PACE (Enhanced Plan Design)"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R1BGDIFFMAX" type="xs:decimal" nillable="true"/>
    <xs:element name="R1DSFM" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="999"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R1DSTO" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="999"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R1FLAT" type="xs:decimal" nillable="true"/>
    <xs:element name="R1MAX" type="xs:decimal" nillable="true"/>
    <xs:element name="R1MIN" type="xs:decimal" nillable="true"/>
    <xs:element name="R1Mutiplier" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="9.999"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R1PCT" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="1"/>
                <xs:fractionDigits value="4"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R1Unit_Of_Measure" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. Days"/>
                <xs:enumeration value="2. Units"/>
                <xs:enumeration value="3. Packages"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R1Units" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="1000"/>
                <xs:fractionDigits value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R2BGDIFFMAX" type="xs:decimal" nillable="true"/>
    <xs:element name="R2DSFM" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="999"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R2DSTO" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="999"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R2FLAT" type="xs:decimal" nillable="true"/>
    <xs:element name="R2MAX" type="xs:decimal" nillable="true"/>
    <xs:element name="R2MIN" type="xs:decimal" nillable="true"/>
    <xs:element name="R2Mutiplier" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="9.999"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R2PCT" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="1"/>
                <xs:fractionDigits value="4"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R2Unit_Of_Measure" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. Days"/>
                <xs:enumeration value="2. Units"/>
                <xs:enumeration value="3. Packages"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R2Units" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="1000"/>
                <xs:fractionDigits value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R3BGDIFFMAX" type="xs:decimal" nillable="true"/>
    <xs:element name="R3DSFM" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="999"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R3DSTO" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="999"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R3FLAT" type="xs:decimal" nillable="true"/>
    <xs:element name="R3MAX" type="xs:decimal" nillable="true"/>
    <xs:element name="R3MIN" type="xs:decimal" nillable="true"/>
    <xs:element name="R3Mutiplier" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="9.999"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R3PCT" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="1"/>
                <xs:fractionDigits value="4"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R3Unit_Of_Measure" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. Days"/>
                <xs:enumeration value="2. Units"/>
                <xs:enumeration value="3. Packages"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R3Units" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="1000"/>
                <xs:fractionDigits value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R4BGDIFFMAX" type="xs:decimal" nillable="true"/>
    <xs:element name="R4DSFM" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="999"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R4DSTO" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="999"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R4FLAT" type="xs:decimal" nillable="true"/>
    <xs:element name="R4MAX" type="xs:decimal" nillable="true"/>
    <xs:element name="R4MIN" type="xs:decimal" nillable="true"/>
    <xs:element name="R4Mutiplier" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="9.999"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R4PCT" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="1"/>
                <xs:fractionDigits value="4"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R4Unit_Of_Measure" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1. Days"/>
                <xs:enumeration value="2. Units"/>
                <xs:enumeration value="3. Packages"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="R4Units" nillable="true">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="1"/>
                <xs:maxInclusive value="1000"/>
                <xs:fractionDigits value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Screen_No">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Stage">
        <xs:complexType>
            <xs:sequence>
                <!--<xs:element ref="StageNo" minOccurs="0"/>
                <xs:element ref="StageType" minOccurs="0"/>-->
                <xs:element ref="Copays" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="StageNo"/>
            <xs:attribute name="StageType"/>
            <xs:attribute name="StageDescription"/> <!--DED, ICL, GAP, CAT-->
        </xs:complexType>
    </xs:element>
    <xs:element name="StageNo" type="xs:int"/>
    <!--Enums?-->
    <xs:element name="StageType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="HPMS"/>
                <xs:enumeration value="Non-HPMS"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="TargetEntity">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Entity"/>
                <xs:element ref="EntityEffDate"/>
                <xs:element ref="EntityType"/>
                <xs:element ref="EntityLevel"/>
                <xs:element ref="Stage" minOccurs="0" maxOccurs="5"/>
                <xs:element ref="CBM" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TGroup">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="TGroups">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="TGroup" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProductValue">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
</xs:schema>