src/main/resources/createH24/response/CreateResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified">
    <xs:element name="Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Flowid" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="StatusCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="StatusMessage" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="RecordCount" type="xs:unsignedByte"/>
                <xs:element name="PLBRuleDetails">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PLBRule" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ReportType" type="xs:string"/>
                                        <xs:element name="RuleStatusMessage" type="xs:string"/>
                                        <xs:element name="Severity" type="xs:string"/>
                                        <xs:element name="UserAction" type="xs:string"/>
                                        <xs:element name="RuleAgnID" type="xs:unsignedInt"/>
                                        <xs:element name="ParentAgn" type="xs:unsignedInt"/>
                                        <xs:element name="ClientAgn" type="xs:unsignedInt"/>
                                        <xs:element name="Operation" type="xs:string"/>
                                        <xs:element name="EntityType" type="xs:string"/>
                                        <xs:element name="EntityOpid" type="xs:string"/>
                                        <xs:element name="EastGroup" type="xs:string"/>
                                        <xs:element name="SourceEntity" type="xs:string"/>
                                        <xs:element name="SourceEntityGr" type="xs:string"/>
                                        <xs:element name="SourceCopay" type="xs:string"/>
                                        <xs:element name="EffectiveDate" type="xs:string"/>
                                        <xs:element name="ChannelType" type="xs:string"/>
                                        <xs:element name="CarrierDiv" type="xs:string"/>
                                        <xs:element name="ClientExclInd" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Y"/>
                                                    <xs:enumeration value="N"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ClientExclTbl">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ClientExcl">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:choice maxOccurs="unbounded">
                                                                    <xs:element name="ExclEntity" type="xs:string"/>
                                                                    <xs:element name="ExclEntityTypCde"
                                                                                type="xs:string"/>
                                                                    <xs:element name="ExclEastGroup" type="xs:string"/>
                                                                </xs:choice>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="NetworkId" type="xs:string"/>
                                        <xs:element name="Chain" type="xs:string"/>
                                        <xs:element name="ChainName" type="xs:string"/>
                                        <xs:element name="State" type="xs:string"/>
                                        <xs:element name="Pharmacy" type="xs:string"/>
                                        <xs:element name="PharmacyName" type="xs:string"/>
                                        <xs:element name="NetworkExclInd" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Y"/>
                                                    <xs:enumeration value="N"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="NetworkExclTbl">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="NetworkExcl">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:choice maxOccurs="unbounded">
                                                                    <xs:element name="ExclNetworkId" type="xs:string"/>
                                                                    <xs:element name="ExclChain" type="xs:string"/>
                                                                    <xs:element name="ExclNpiNumber" type="xs:string"/>
                                                                    <xs:element name="ExclState" type="xs:string"/>
                                                                </xs:choice>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Product" type="xs:string"/>
                                        <xs:element name="ProductDetailTbl">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ProductDetail">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:choice maxOccurs="unbounded">
                                                                    <xs:element name="ProductAttribute"/>
                                                                    <xs:element name="ProductValue"/>
                                                                </xs:choice>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="AppliesTo" type="xs:string"/>
                                        <xs:element name="RuleEffDate" type="xs:string"/>
                                        <xs:element name="RuleEndDate" type="xs:string"/>
                                        <xs:element name="Operid" type="xs:string"/>
                                        <xs:element name="Timestamp" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
