src/main/resources/xsd/rxb/Client_Intent_RxB_7.23.24.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--  W3C Schema generated by XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com)  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AccumDaySupplyLimit">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AccumDollarLimit">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:fractionDigits value="2"/>
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="9999999999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AccumTransferType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AccumEffectiveDate">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:minInclusive value="1900-01-01"/>
				<xs:maxInclusive value="2999-12-31"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AccumFillLimit">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AccumTierID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AccumType">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="1"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="7"/>
				<xs:enumeration value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BenefitPeriodLength">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="6"/>
				<xs:enumeration value="7"/>
				<xs:enumeration value="8"/>
				<xs:enumeration value="9"/>
				<xs:enumeration value="10"/>
				<xs:enumeration value="11"/>
				<xs:enumeration value="12"/>
				<xs:enumeration value="13"/>
				<xs:enumeration value="14"/>
				<xs:enumeration value="15"/>
				<xs:enumeration value="16"/>
				<xs:enumeration value="17"/>
				<xs:enumeration value="18"/>
				<xs:enumeration value="19"/>
				<xs:enumeration value="20"/>
				<xs:enumeration value="21"/>
				<xs:enumeration value="22"/>
				<xs:enumeration value="23"/>
				<xs:enumeration value="24"/>
				<xs:enumeration value="25"/>
				<xs:enumeration value="26"/>
				<xs:enumeration value="27"/>
				<xs:enumeration value="28"/>
				<xs:enumeration value="29"/>
				<xs:enumeration value="30"/>
				<xs:enumeration value="31"/>
				<xs:enumeration value="32"/>
				<xs:enumeration value="33"/>
				<xs:enumeration value="34"/>
				<xs:enumeration value="35"/>
				<xs:enumeration value="36"/>
				<xs:enumeration value="9999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BenefitTierID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BPLAccum">
		<xs:complexType>
			<xs:all>
				<xs:element ref="AccumEffectiveDate"/>
				<xs:element ref="AccumType"/>
				<xs:element ref="EligibilityStatus"/>
				<xs:element ref="AccumDollarLimit"/>
				<xs:element ref="AccumDaySupplyLimit"/>
				<xs:element ref="AccumFillLimit"/>
				<xs:element ref="BenefitPeriodLength"/>
				<xs:element ref="DrugTypeStatus"/>
				<xs:element ref="FormularyStatus"/>
				<xs:element ref="IncludeDruglist"/>
				<xs:element ref="ExcludeDruglist"/>
				<xs:element ref="NetworkStatus"/>
				<xs:element ref="PharmacyChannel"/>
				<xs:element ref="SharedInd"/>
				<xs:element ref="SharedVendorID"/>
				<xs:element ref="Carryover"/>
				<xs:element ref="NetworkApplicability"/>
				<xs:element ref="VendorPolicyNumber"/>
				<xs:element ref="AccumTierID"/>
				<xs:element ref="AccumTransferType" minOccurs="0"/>
				<xs:element ref="CDHClassCode" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="BPLAccums">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BPLAccum" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BPLCopay">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CopayEffectiveDate"/>
				<xs:element ref="CopayChannel"/>
				<xs:element ref="CopayType"/>
				<xs:element ref="CopayAmount"/>
				<xs:element ref="CopayMinAmount"/>
				<xs:element ref="CopayMaxAmount"/>
				<xs:element ref="CopayPercent"/>
				<xs:element ref="CopayStructure"/>
				<xs:element ref="DAWLogic"/>
				<xs:element ref="DaysBreak" minOccurs="0"/>
				<xs:element ref="CopayFillLimit" minOccurs="0"/>
				<xs:element ref="DrugListId" minOccurs="0"/>
				<xs:element ref="CopayNetwork"/>
				<xs:element ref="DAWPenaltyExceedMaxCopay" minOccurs="0"/>
				<xs:element ref="BenefitTierID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BPLCopays">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BPLCopay" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BPLCount">
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BPLEffectiveDate">
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BPLEffectiveDateofChange">
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BPLHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BPLEffectiveDateofChange"/>
				<xs:element ref="CarrierNumber"/>
				<xs:element ref="ContractNumber"/>
				<xs:element ref="BPLID"/>
				<xs:element ref="BPLEffectiveDate"/>
				<xs:element ref="ClaimSubmissionType"/>
				<xs:element ref="RetailNetwork"/>
				<xs:element ref="InsulinMethodRetail"/>
				<xs:element ref="InsulinMethodMail"/>
				<xs:element ref="HomeDeliveryPenaltyContinuesafterOOPIsMet"/>
				<xs:element ref="DoesDEDapplyToOOP"/>
				<xs:element ref="HomeDeliveryPenaltyAppliestoDED"/>
				<xs:element ref="HomeDeliveryPenaltyAppliestoOOP"/>
				<xs:element ref="DAWAppliestoDED"/>
				<xs:element ref="DAWAppliestoOOP"/>
				<xs:element ref="DAWPenaltyContinuesafterOOPIsMet"/>
				<xs:element ref="Smart90PenaltyApplyToDED"/>
				<xs:element ref="Smart90PenaltyApplyToOOP"/>
				<xs:element ref="CalendarYearorPlanYear"/>
				<xs:element ref="PlanYearAccumStartDate"/>
				<xs:element ref="ForeignClaimsCovered"/>
				<xs:element ref="CompoundManagement"/>
				<xs:element ref="RxBHighDollarClaimReview"/>
				<xs:element ref="RetailNonCompoundLimit"/>
				<xs:element ref="MailNonCompoundLimit"/>
				<xs:element ref="NonCompoundPhoneNumber"/>
				<xs:element ref="RetailCompoundLimit"/>
				<xs:element ref="CompoundPhoneNumber"/>
				<xs:element ref="HCRStatus"/>
				<xs:element ref="BPLName"/>
				<xs:element ref="DependentAge"/>
				<xs:element ref="DependentAgeIndicator"/>
				<xs:element ref="StudentAge"/>
				<xs:element ref="StudentAgeIndicator"/>
				<xs:element ref="ClientLegalName"/>
				<xs:element ref="HCRplanyear"/>
				<xs:element ref="CoordinationofBenefits"/>
				<xs:element ref="Formulary"/>
				<xs:element ref="PaperClaimsCovered"/>
				<xs:element ref="OutOfNetworkClaimsCovered"/>
				<xs:element ref="GracePeriodApplies"/>
				<xs:element ref="GracePeriodStart" minOccurs="0"/>
				<xs:element ref="LengthofGracePeriod" minOccurs="0"/>
				<xs:element ref="GracePeriodNetwork" minOccurs="0"/>
				<xs:element ref="SpendingAccountType"/>
				<xs:element ref="HRAMembersAccess" minOccurs="0"/>
				<xs:element ref="HSAAdministrationPhoneNumber"/>
				<xs:element ref="HSAMedicalPhoneNumber"/>
				<xs:element ref="UmbrellaGroupNumber"/>
				<xs:element ref="DCOCompleteIND"/>
				<xs:element ref="HomeDeliveryProgram"/>
				<xs:element ref="HomeDeliveryFilllimit"/>
				<xs:element ref="RetailDaysSupply"/>
				<xs:element ref="ManufactureCopayAssistanceProgram"/>
				<xs:element ref="MandatorySpecialtyProgram"/>
				<xs:element ref="MandatorySpecialtyFillLimit"/>
				<xs:element ref="MandatorySpecialtyDaysSupply"/>
				<xs:element ref="PharmacyVaccineProgram"/>
				<xs:element ref="PatientAssuranceProgramEnrollment"/>
				<xs:element ref="ExactCopy"/>
				<xs:element ref="SourceEntity"/>
				<xs:element ref="SaveOnEffectiveDate" minOccurs="0"/>
				<xs:element ref="CaseID"/>
				<xs:element ref="NinetyDayProgram" minOccurs="0"/>
				<xs:element ref="BPLCopays"/>
				<xs:element ref="BPLAccums"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BPLID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="15"/>
				<!--<xs:pattern value="[a-zA-Z0-9]+"/>-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BPLName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="25"/>
				<!--<xs:pattern value="[a-zA-Z0-9 ]+"/>-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BPLs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BPLHeader" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CalendarYearorPlanYear">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="C"/>
				<xs:enumeration value="P"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarrierNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Carryover">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="6"/>
				<xs:enumeration value="7"/>
				<xs:enumeration value="8"/>
				<xs:enumeration value="9"/>
				<xs:enumeration value="10"/>
				<xs:enumeration value="11"/>
				<xs:enumeration value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CaseID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
				<!--<xs:pattern value="([a-zA-Z0-9-,]+)?"/>-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CDHClassCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="CHEMOSPLTY"/>
				<xs:enumeration value="CHEMOTHERA"/>
				<xs:enumeration value="DIABETES"/>
				<xs:enumeration value="INFERTILIT"/>
				<xs:enumeration value="MENTALHLTH"/>
				<xs:enumeration value="SMOKINGCES"/>
				<xs:enumeration value="SPECIALTY"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ClaimSubmissionType">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="6"/>
				<xs:enumeration value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ClientLegalName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="150"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ClientOrgID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="14347"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CompoundManagement">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="1"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CompoundPhoneNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="11"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Contact">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ContractNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
				<!--<xs:pattern value="[a-zA-Z0-9]+"/>-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CoordinationofBenefits">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="No"/>
				<xs:enumeration value="Yes-Electronic and Paper"/>
				<xs:enumeration value="Yes-Electronic"/>
				<xs:enumeration value="Yes-Paper"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CopayAmount">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CopayChannel">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="6"/>
				<xs:enumeration value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CopayEffectiveDate">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:minInclusive value="1900-01-01"/>
				<xs:maxInclusive value="2999-12-31"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CopayFillLimit">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CopayMaxAmount">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CopayMinAmount">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CopayNetwork">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="B"/>
				<xs:enumeration value="I"/>
				<xs:enumeration value="O"/>
				<xs:enumeration value="M"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CopayPercent">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:fractionDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CopayStructure">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="6"/>
				<xs:enumeration value="7"/>
				<xs:enumeration value="8"/>
				<xs:enumeration value="9"/>
				<xs:enumeration value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CopayType">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="1"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="9"/>
				<xs:enumeration value="12"/>
				<xs:enumeration value="19"/>
				<xs:enumeration value="75"/>
				<xs:enumeration value="76"/>
				<xs:enumeration value="77"/>
				<xs:enumeration value="78"/>
				<xs:enumeration value="79"/>
				<xs:enumeration value="80"/>
				<xs:enumeration value="81"/>
				<xs:enumeration value="82"/>
				<xs:enumeration value="83"/>
				<xs:enumeration value="101"/>
				<xs:enumeration value="102"/>
				<xs:enumeration value="103"/>
				<xs:enumeration value="110"/>
				<xs:enumeration value="242"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DAWAppliestoDED">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DAWAppliestoOOP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DAWLogic">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="7"/>
				<xs:enumeration value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DAWPenaltyContinuesafterOOPIsMet">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DAWPenaltyExceedMaxCopay">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DaysBreak">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="01-100"/>
				<xs:enumeration value="01-102"/>
				<xs:enumeration value="01-120"/>
				<xs:enumeration value="01-30"/>
				<xs:enumeration value="01-31"/>
				<xs:enumeration value="01-365"/>
				<xs:enumeration value="01-90"/>
				<xs:enumeration value="01-91"/>
				<xs:enumeration value="31-60"/>
				<xs:enumeration value="31-90"/>
				<xs:enumeration value="32-62"/>
				<xs:enumeration value="32-90"/>
				<xs:enumeration value="35-100"/>
				<xs:enumeration value="35-102"/>
				<xs:enumeration value="35-68"/>
				<xs:enumeration value="35-90"/>
				<xs:enumeration value="2X"/>
				<xs:enumeration value="2.5X"/>
				<xs:enumeration value="3X"/>
				<xs:enumeration value="61-90"/>
				<xs:enumeration value="63-90"/>
				<xs:enumeration value="69-100"/>
				<xs:enumeration value="69-102"/>
				<xs:enumeration value="69-365"/>
				<xs:enumeration value="69-90"/>
				<xs:enumeration value="DM30"/>
				<xs:enumeration value="DM31"/>
				<xs:enumeration value="DM34"/>
				<xs:enumeration value="01-34"/>
				<xs:enumeration value="01-60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DCOCompleteIND">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DependentAge">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:maxInclusive value="99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DependentAgeIndicator">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DoesDEDapplyToOOP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DrugListId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DrugTypeStatus">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EligibilityStatus">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="11"/>
				<xs:enumeration value="13"/>
				<xs:enumeration value="15"/>
				<xs:enumeration value="19"/>
				<xs:enumeration value="21"/>
				<xs:enumeration value="41"/>
				<xs:enumeration value="51"/>
				<xs:enumeration value="53"/>
				<xs:enumeration value="63"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExactCopy">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExcludeDruglist">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FileDate">
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FileTime">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ForeignClaimsCovered">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Formulary">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NPF"/>
				<xs:enumeration value="Basic"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FormularyStatus">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GracePeriodApplies">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GracePeriodNetwork">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GracePeriodStart">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="E"/>
				<xs:enumeration value="G"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HCRplanyear">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HCRStatus">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ClientOrgID"/>
				<xs:element ref="CustomerName"/>
				<xs:element ref="JobName"/>
				<xs:element ref="FileDate"/>
				<xs:element ref="FileTime"/>
				<xs:element ref="Contact"/>
				<xs:element ref="PhoneNum"/>
				<xs:element ref="ProcessMode"/>
				<xs:element ref="BPLCount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HomeDeliveryFilllimit">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HomeDeliveryPenaltyAppliestoDED">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HomeDeliveryPenaltyAppliestoOOP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HomeDeliveryPenaltyContinuesafterOOPIsMet">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HomeDeliveryProgram">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HRAMembersAccess">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HSAAdministrationPhoneNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HSAMedicalPhoneNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="11"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IncludeDruglist">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InsulinMethodMail">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="5"/>
				<xs:enumeration value="8"/>
				<xs:enumeration value="G"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InsulinMethodRetail">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="5"/>
				<xs:enumeration value="8"/>
				<xs:enumeration value="G"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="JobName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ABL"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LengthofGracePeriod">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="030"/>
				<xs:enumeration value="045"/>
				<xs:enumeration value="000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MailNonCompoundLimit">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MandatorySpecialtyDaysSupply">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="1-30"/>
				<xs:enumeration value="1-31"/>
				<xs:enumeration value="1-34"/>
				<xs:enumeration value="90"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MandatorySpecialtyFillLimit">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="6"/>
				<xs:enumeration value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MandatorySpecialtyProgram">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ManufactureCopayAssistanceProgram">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="None"/>
				<xs:enumeration value="Client Driven Hospital only"/>
				<xs:enumeration value="OOPP + Variable Copay"/>
				<xs:enumeration value="OOPP Only"/>
				<xs:enumeration value="OOPP + SaveOnSP"/>
				<xs:enumeration value="SaveOnSP only"/>
				<xs:enumeration value="SaveOnSP Select"/>
				<xs:enumeration value="SaveOnSP Advantage"/>
				<xs:enumeration value="OOPP + SaveOnSP Select"/>
				<xs:enumeration value="OOPP + SaveOnSP Advantage"/>
				<xs:enumeration value="SaveOnSP Adapt"/>
				<xs:enumeration value="SaveOnSP only no HIV"/>
				<xs:enumeration value="SaveOnSP Select no HIV"/>
				<xs:enumeration value="SaveOnSP Advantage no HIV"/>
				<xs:enumeration value="SaveOnSP Adapt no HIV"/>
				<xs:enumeration value="OOPP + SaveOnSP Adapt"/>
				<xs:enumeration value="OOPP + SaveOnSP Adapt no HIV"/>
				<xs:enumeration value="OOPP + SaveOnSP no HIV"/>
				<xs:enumeration value="OOPP + SaveOnSP Select no HIV"/>
				<xs:enumeration value="OOPP + SaveOnSP Advantage no HIV"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NetworkApplicability">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NetworkStatus">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NonCompoundPhoneNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="11"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NinetyDayProgram">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OutOfNetworkClaimsCovered">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PaperClaimsCovered">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PatientAssuranceProgramEnrollment">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PharmacyBenefits">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="BPLs"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PharmacyChannel">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="3"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PharmacyVaccineProgram">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Enroll"/>
				<xs:enumeration value="Enroll ACA only"/>
				<xs:enumeration value="Do Not enroll"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PhoneNum">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PlanYearAccumStartDate">
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ProcessMode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="P"/>
				<xs:enumeration value="T"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RetailCompoundLimit">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RetailDaysSupply">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1-30"/>
				<xs:enumeration value="1-31"/>
				<xs:enumeration value="1-34"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RetailNetwork">
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RetailNonCompoundLimit">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RxBHighDollarClaimReview">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SaveOnEffectiveDate">
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SharedInd">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SharedVendorID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Smart90PenaltyApplyToDED">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Smart90PenaltyApplyToOOP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SourceEntity">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
				<!--<xs:pattern value="([a-zA-Z0-9]+)?"/>-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SpendingAccountType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="StudentAge">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:maxInclusive value="99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="StudentAgeIndicator">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UmbrellaGroupNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="7"/>
				<xs:maxLength value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="VendorPolicyNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>